{% extends 'public/templates/public_template.html' %} {% block main %}

<div class="container my-3">
    <div class="row d-flex justify-content-center">
        <h1> User Login</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                    <form action = "/login"  method = "POST" enctype="multipart/form-data" >
                        <div class = "form-group">
                            <label><b>Enter your Username: </b></label>
                            <input  class = "form-control "  type = "text", name = "username" id="username"></input>                
                            <label><b>Enter your Email: </b></label>
                            <input class = "form-control" type = "text", name = "email" id="email"></input>
                            <label><b>Enter your Password: </b></label>
                            <input class = "form-control" type = "password", name = "password" id="Password"></input>
                        </div>
                        <div >
                            <button type="submit" class ="btn btn-primary">Login</button>
                        </div>

                        <div>
                            <span  class="d-flex align-items-center "> If you dont have an account? <a href="/sign_up " class="nav-link text-center ">Signup</a>
                            </span>
                        </div>




                    </form>
                </div>
            </div>
             </div>
    </div>
</div>

        {% endblock  %}